#recent-work{
    padding-top: 150px;
    padding-bottom: 150px;
    background: var(--dark-07, #F3F3F3);
}
.recent_work_title h3{
    color: #151515;
    text-align: center;
    font-family: var(--font-type);
    font-size: 45px; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.recent_work_title p{
    color: var(--dark-03, #737373);
    text-align: center;
    width: 609px;
    margin: 0 auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    font-family: var(--font-type);
    padding-top: 20px;
}
.recent_work_part{
    margin-top: 106px;
    display: flex;
}
.recent_work_part_one{
    margin-top: 24px;
    display: flex;
}
.box-card-one{
    border-radius: 20px;
    background: #fff;
    margin-left: 24px;
}
.box-card-one h3{
    padding-top: 30px;
    color: var(--dark-01, #151515);
    text-align: center;
    font-family: var(--font-type);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.box-card-one p{
    padding-top: 10px;
    padding-bottom: 30px;
    color: var(--dark-03, #737373);
    width: 340px;
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-type);  
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}